@model IEnumerable<MusicLibrary.Models.Genero>
@{
    ViewData["Title"] = "Generos";
}

<h1>Lista de géneros</h1>

<p>
    <a asp-action="Crear" class="btn btn-outline-primary">Crear nuevo</a>
</p>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                Artistas del género
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @(item.Artista.Count())
                </td>
                <td>
                    <a asp-action="Modificar" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Modificar</a>
                    <a asp-action="Detalles" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Detalles</a>
                    <a asp-action="Eliminar" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
